# Python
__pycache__/
*.py[cod]
*$py.class
scripts/*

# Virtual environments
.venv/
venv/
env/

# uv
.python-version

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
logs/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

!.env.example

# Logs
*.log

# SQLite / DuckDB
*.db
*.sqlite
*.sqlite3
*.duckdb
*.wal

# Data files
data/raw/*
data/processed/*
data/warehouse/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/warehouse/.gitkeep

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Streamlit
.streamlit/secrets.toml

# Dagster
.dagster/

# MLflow
mlruns/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Temporary files
*.tmp
*.bak

/data